.inner-wrap-breadcrumb {
    background-color: white;
}

.breadcrumb-wrap {
    .column(@columns - 2);
    .push(1);
    & li {
        display: inline-block;
        & + li:before {
            content: "» ";
            color: @linkColor;
        }
    }
}
