.inner-wrap-header {
    background-color: @mainColor;
}

.site-logo-text {
    // .column(3);
    .column(6);

    & a {
        color: white;
        text-decoration: none;
        font-size: 2em;
    }
}

.site-logo-text-icon {
    margin: 0 20px;
    & img {
        height: 20px;
    }
}

.flash-wrap{
    height: 168px;
    overflow: hidden;
    .column(@columns);
    box-sizing: border-box;
    & img {
        width: 100%;
    }
}
