.site-header {
    background-color: @mainColor;
    // padding: 12px;
    height: 65px;
    padding-top: 10px;
}

.site-logo-text {
    & a {
        color: white;
        text-decoration: none;
        font-size: 2em;
        margin: 0 16px;
    }
}

.site-logo-text-icon {
    margin-right: 10px;
}

.flash-wrap img{
    max-width: 100%;
}
