.inner-wrap-header {
    background-color: @navbarColor;
    position: relative;
}

.inner-wrap-flash {
    margin-top: -50px;
}

.site-logo-text {
    .column(4);
    & a {
        color: white;
        font-size: 2em;
    }
    & a:hover {
        color: white;
    }
}

.site-logo-text-icon {
    margin: 0 20px;
    & img {
        height: 20px;
    }
}

.flash-wrap{
    height: 168px;
    overflow: hidden;
    .column(@columns);
    box-sizing: border-box;
    // & img {
    //     width: 100%;
    // }
}
