

@maxButtonFontSize: 2em;
@maxButtonColor: white;
@navbarMenuButtonClickedColor: white;

// .border(@radius: 0) {
//     border-radius: @radius;
//     border: 1px solid darken(@nav-theme, 15%);
// }

.navbar2 {
    .column(18);
    // .push(1);
    color: white;

    & .selected {
        color: @selectedColor;
    }


}

.rm-navbar-max {
    .column(2);

    & .selected {
        color: @selectedColor;
    }
}
