@nav-theme: lightgreen;
@maxButtonFontSize: 2em;

.border(@radius: 0) {
    border-radius: @radius;
    // border: 1px solid darken(@nav-theme, 15%);

}

.navbar2 {
    background-color: @nav-theme;
    display: inline-block;
    margin: 0 10px;
    height: 100%;

    .border(10px);

    & li {

        // .border();
        // margin-right: -4px;

        &:last-child {
            // width: 20px;
            background-color: yellow;
        }
    }
}
