@nav-theme: lightgreen;
@maxButtonFontSize: 2em;
@maxButtonColor: white;

// .border(@radius: 0) {
//     border-radius: @radius;
//     border: 1px solid darken(@nav-theme, 15%);
// }

.navbar2 {
    .column(16);
    color: white;
}

.rm-navbar-max {
    .column(2);
}
