/**
* Anax Flat theme.
*/
@import url(modules.less);

@mainColor: #23272e;
@bodyTextColor: @mainColor;
@headingsColor: @mainColor;
@linkColor: #999;

@navbarColor: @mainColor;
@footerColor: @mainColor;
@footerTitleColor: white;
@backgroundColor: #eee;

@selectedColor: #bbb;
@sidebarHoverColor: lighten(@linkColor, 10%);





html {
    background-color: @backgroundColor;
    overflow-x: hidden;
    color: @bodyTextColor;
    & a {
        color: @linkColor;
        text-decoration: none;
    }
    & a:hover {
        -webkit-transition: all 100ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
        -moz-transition: all 100ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
        -o-transition: all 100ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
        transition: all 100ms cubic-bezier(0.420, 0.000, 0.580, 1.000); /* ease-in-out */
        color: lighten(@linkColor, 10%);
    }
    & ul {
        list-style-type: none;
        padding-left: 0;
    }
    & h1 {
        color: @headingsColor;
        clear: both;
        & a {
            color: @headingsColor;
            font-family: 'Abril Fatface',cursive;
        }
        & a:hover {
            color: lighten(@headingsColor, 20%);
        }
    }
}


@media screen and (max-width: 1400px) {
    .logo-1 {
        display: none;
    }
}

@media screen and (max-width: 960px) {
    .flash-wrap {
        width: none !important;
        & img {
            height: 168px;
            width: none !important;
        }
    }
}

@media screen and (max-width: 1600px) {
    .navbar2 {
        display: none;
    }
    .site-logo-text {
        .column(22);
    }
}

@media screen and (max-width: 730px) {
    .main.has-sidebar {
        .column(20);
        .push(2);
    }
    .sidebar {
        display: none;
    }
    // .main.has-sidebar-left.has-sidebar-right {
    //     .column(16);
    //     .push(4);
    // }
}


@media screen and (max-width: 655px) {
    .byline {
        .column(16);
        .push(4);
    }

    .main {
        .column(20);
        .push(2);
    }

    .main.has-sidebar-left.has-sidebar-right {
        .column(20);
        .push(2);
    }

    .footer-column {
        text-align: center;
        .column(@columns);
    }
}


@media screen and (max-width: 655px) {
    table td a {
        display: none;
    }
}




@media screen and (max-width: 450px) {
    .main, .main.has-sidebar, .byline {
        .column(22);
        .push(1);
    }
}
