/**
* Anax Flat theme.
*/
@import url(modules.less);



@textColor: black;
// @mainColor: #009091;
@mainColor: #23272e;;






p {
    line-height: 22px;
}

/** --------------------------------------------------------------
 *  Logo images
 */
.logo-1 {
    position: absolute;
    top: 70px;
    left: -180px;
}




.outer-wrap-breadcrumb {
    & a {
        text-decoration: none;

        color: #666;
    }
    & ul {
        padding-left: 20px;
    }
    & li {
        list-style-type: none;
    }
}


.outer-wrap-after-main {
    // background-color: lightBlue;
}




.gitHubImage {
     margin-left: 0;
     width: 200px;

     & img {
         width: 100%;
     }
}

.mainLink {
    & a {
        text-decoration: none;
        color: @mainColor;
    }
}


.testImage {
     width: 100px;
     & img {
         width: 100%;
     }
}





@media screen and (max-width: 1400px) {
    .logo-1 {
        display: none;
    }
}

@media screen and (max-width: 950px) {
    .has-sidebar {
            width: 100%;
    }
    .sidebar-left {
        display: none;
    }
}

@media screen and (max-width: 700px) {
    .footer-column {
        width: 100%;
        display: block;
        margin: 0 auto;
        text-align: center;
    }
}

@media screen and (max-width: 590px) {
    .navbar2 {
        display: none;
    }
}

@media screen and (max-width: 450px) {
    .main {
        padding: 16px;
    }
}
