@import url(style-typography.less);

@navbarColor: rgba(0, 0, 0, 0.8);

.outer-wrap-flash {
    display: block;
}

.outer-wrap-header {
    top: 0;
    z-index: 100;
    position: fixed;
    width: 100%;
}


// .sidebar a:hover {
//     transition: margin-left 0.05s ease-out;
//     margin-left: 8px;
// }
